h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  padding: 0;
  margin: 0;
}
.color_accent {
  color: rgba(33, 150, 243, 1);
}
.icon_head {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu_link_list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.menu_link_list:hover,
.menu_link_list:focus {
  color: #2196f3;
}
.address_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: rgba(117, 117, 117, 1);
}
.address_item:hover,
.address_item:focus {
  color: #2196f3;
}
.menu {
  display: flex;
  align-items: center;
}
.menu_list {
  display: flex;
  align-items: center;
}
.menu_link_list {
  margin-right: 50px;
}
.icon_head {
  margin-right: 93px;
}
.address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}
.address_link {
  margin-right: 50px;
}
.accent {
  color: #2196f3;
}
.header {
  border-bottom: 1px solid #ececec;
}
.nav_portfoil {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.nav_btn {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.nav_portfoil_items {
  margin-right: 8px;
}
.photo_list {
  display: flex;
  flex-wrap: wrap;
}
.photo_item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 14px;
}
.photo_head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  display: inline;
  color: #212121;
  margin-bottom: 4px;
}
.photo_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  display: inline;
  color: #757575;
}
.photo_box {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.icon_footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact_list {
  margin-bottom: 9px;
}
.address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact_list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
}
.color_footer_white {
  color: #ffffff;
}
.color_footer {
  color: rgba(255, 255, 255, 0.6);
}
